
[submodule "ios/passvault/JNKeychain"]
	path = ios/passvault/JNKeychain
	url = git://github.com/jeremangnr/JNKeychain.git
[submodule "ios/passvault/MFSideMenu"]
	path = ios/passvault/MFSideMenu
	url = git://github.com/mikefrederick/MFSideMenu.git
