
[submodule "passvault/JNKeychain"]
	path = passvault/JNKeychain
	url = https://github.com/jeremangnr/JNKeychain.git
[submodule "passvault/MFSideMenu"]
	path = passvault/MFSideMenu
	url = https://github.com/mikefrederick/MFSideMenu.git
